- unless comments.empty?
  %h2= t('.comments')

  #comments
    - comments.each do |comment|
      %p.bold
        = t('.user_wrote', time: time_ago_in_words(comment.created_at).capitalize,
                           user: link_to(comment.user, user_path(comment.user))).html_safe
      .comment
        = RDiscount.new(comment.body).to_html.html_safe
