.yellow_box.trip_form_box
  = log_trip_header(trip)
  .description 
    A trip is a hitchhiking trip from <b>one city to another city</b> which is
    most of the time just one day.  For longer trips you can continue a trip
    later. That way you will be able to see the waypoints on the map.

  = render 'trips/form', :trip => trip
