.slider-wrapper.theme-default
  #slider.nivoSlider
    - trip.rides.with_photo.each do |ride|
      = image_tag(ride.photo.url, title: "#{ride.photo_caption}", 'data-thumb'=>ride.photo.url) unless ride.photo.url.nil?
- content_for :javascript_at_bottom do
  :javascript
    $(document).ready(function(){
      $('#slider').nivoSlider({
        controlNav: false,
        effect: 'fade'
      });
    });
    
