.rides_box
  - trip.hitchhikes.each_with_index do |hitchhike, i|
    %div{:class => ride_box_attributes(i+1, trip)}
      -if hitchhike.empty?
        #{number_to_ordinal(i+1)} ride
      -else
        =link_to "#{number_to_ordinal(i+1)} ride<br />#{show_available_images_for_hitchhike(hitchhike)}".html_safe, hitchhike_path(hitchhike)
