- title "Trips"

%h1 #{t('.latest_hitchhiking_trips')}:

- if user_signed_in?
  = link_to t(".log_new_trip"), new_trip_path 
- else
  = render 'shared/sign_in_and_out'
  to log a new hitchhiking trip.

#trips
  = render 'list', :trips => @trips
