- title "Trips"

%h1 Trips:

- if user_signed_in?
  = link_to 'Log New Trip', new_trip_path 
- else
  = render 'shared/sign_in_and_out'
  to log a new trip.

#trips
  = render :partial => 'trips/trips', :locals => {:trips => @trips}
