- title "Trips"

%h1 Latest hitchhiking trips:

- if user_signed_in?
  = link_to 'Log New Trip', new_trip_path 
- else
  = render 'shared/sign_in_and_out'
  to log a new hitchhiking trip.

#trips
  = render 'list', :trips => @trips
