// Mixins:
// Cross Browser Transparency (Yuck!)
@mixin opacity(!opacity)
  :opacity= !opacity
  :-moz-opacity= !opacity
  :-khtml-opacity= !opacity
  :-ms-filter= "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + round(!opacity*100) + ")"
  :filter= "alpha(opacity=" + round(!opacity*100) + ")"


@mixin rounded_corners ($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius


// Imports:
@import inspiration
@import forms
@import hitchhike-photo
@import trips

body
  margin: 0
  padding: 0
  font-family: Verdana, Helvetica, Arials
  color: #ddd
a
  img
    border: none
  color: #444
  text-decoration: none
  
a:hover
  color: #999
.italic
  font-style: italic
h2
  margin: 0
h4
  margin-bottom: 5px
p
  font-size: 1.2 em
  line-height: 1.6 em
  margin: 1em 0px
  
dl
  margin: 0

footer
  background-color: black
  bottom: 0
  clear: both
  color: white
  padding-top: 30px
  text-align: center
  width: 100%

.clear
  clear: both
  height: 0
  overflow: hidden

.hidden
  display: none

span#hitchhike-subtitle
  font-size: 22px
  font-family: cursive
  
#container
  width: 800px
  margin: 0 auto
  background-color: white
  color: #000
  padding: 20px 40px
  margin-bottom: 10px
  padding: 20px 20px
  p
    line-height: 24px
    font-family: Tahoma, Arial, "MS Trebuchet", sans-serif
  h1
    color: black
    font-size: 36px
    font-family: georgia, Arial, "MS Trebuchet", sans-serif
    font-weight: normal
    margin: 0
    padding: 0

#flash_notice, #flash_error
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  color: green
  border: solid 1px #6C6

#flash_error
  border: solid 1px #C66

.fieldWithErrors
  display: inline
  
#errorExplanation
  width: 400px
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff
  p
    color: #333
    margin-bottom: 0
    padding: 8px
  ul
    margin: 2px 24px
    li
      font-size: 12px
      list-style: disc
