acronym.published
  position: absolute
  margin: 5px 0 0 -105px
  display: block
  text-align: center
  // float: left
  font-family: Arial, Helvetica, sans-serif 
  border-bottom: none
  text-shadow: #7C7C70 0px 1px 0px

.pub-month
  display: block
  font-size: .9em
  margin: 0
  padding: 5px
  line-height: 11px
  float: right
  text-transform: uppercase
  color: black
  padding: 12px 14px 0 7px
  height: 35px
.pub-date 
  background-repeat: no-repeat
  float: left
  display: block
  font-size: 25px
  margin: 0 
  padding: 13px 5px 0 19px
  color: black
  height: 35px

.suggest_data
  float: right
  margin: 10px


ul.trips
  font-size: 15px
  padding: 0
  list-style: none  

  ol.hitchhike
    padding: 0 0 7px 33px
    list-style: upper-roman
    .content
      font-family: Verdana,Helvetica,Arials

ul.person
  padding: 0 0 0 25px
  list-style: none

.hitchhike-subtitle  
  padding: 0
  margin: 0
  +clearfix
  li
    margin-right: 70px
    float: left
    list-style: none
      
h3.date
  margin: 0 0 0 -200px
  position: absolute
  text-align: right
  text-transform: uppercase
  width: 190px
  line-height: 20px
  color: #999999
  letter-spacing: -1px
  font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif
  font-weight: normal
  strong
    color: #D4D4D4

#trips_listing
  p
    margin-bottom: 0
  ul
    margin: 0 
    padding-left: 30px
    li
      list-style: lower-roman
  table
    margin: 10px 0
  li
    color: black
    
  