.trips  
  font-size: 15px
  ul
    padding: 0
    list-style: none  
  ol
    padding-left: 27px
    li
      margin: 0

#trips_listing
  p
    margin-bottom: 0
  ul
    margin: 0 
    padding-left: 30px
    li
      list-style: lower-roman
  table
    margin: 10px 0
  li
    color: black
    
  