.bundle
db/*.sqlite3
config/s3.yml
log/*.log
tmp/**/*
public/system
public/assets/
public/stylesheets/*.css
public/stylesheets/backup
public/stylesheets/partials
public/stylesheets/vendors
Capfile
config/deploy.rb
config/deploy/
.idea
.wti
config/hitchlog.local.yml
.sass-cache
.DS_Store
TODO
/tmp
a.log
zeus.json

# These images belong to the crisp template (see /app/views/crisp/*)
public/125banner-fpo.png
public/4830134044.jpg
public/fotogrph-running-water.jpg
public/kathy.jpg
public/responsive-showcase.png

