.bundle
db/*.sqlite3
config/s3.yml
log/*.log
tmp/**/*
public/system
public/assets/
public/stylesheets/*.css
public/stylesheets/backup
public/stylesheets/partials
public/stylesheets/vendors
Capfile
config/deploy.rb
config/deploy/
.idea
.wti
config/hitchlog.local.yml
.sass-cache
.DS_Store
TODO
/tmp
/spec/tmp
a.log
zeus.json
config/initializers/a_env_vars_config.rb
.env.rb
*.swp

# These images belong to the crisp template (see /app/views/crisp/*)
public/images/
public/uploads/
