.bundle
db/*.sqlite3
config/s3.yml
config/database.yml
log/*.log
tmp/**/*
public/system
public/stylesheets/*.css
public/stylesheets/backup
public/stylesheets/partials
public/stylesheets/vendors
Capfile
config/deploy.rb
.idea
notes
