- title t('.title')


%h1= t('.hitchhikers_searching_for_travel_buddies')

- if future_trips.any?
  = render 'future_trips', future_trips: future_trips
- else future_trips.any?
  %h3= t('.currently_no_future_trips')
