body
  font-family: Verdana, Helvetica, Arial
  h1
    line-height: 1.25em
  h2
    font-size: 22px
    margin-bottom: 5px
    font-family: Verdana
  h3
    font-size: 18px
    font-family: Palatino, Georgia
    padding: 8px 0
  h4
    font-size: 20px
    margin: 5px 0

