#container
  overflow: auto
  padding-top: 20px
  padding-bottom: 60px
  width: 800px
  margin: 0 auto
  color: #000
  font: 13.34px/20px helvetica,arial,freesans,clean,sans-serif
  p
    line-height: 21px
  h1
    color: black
    font-size: 180%
    margin: 10px 0
    padding: 0

#wrap .full_width
  width: 100%
  padding: 0

#footer 
  line-height: 40px
  position: relative
  margin-top: -40px 
  height: 40px
  clear: both 
  width: 100%
  background-color: black
  font-size: 12px
  color: white
  text-align: center

