.box
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5)
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5)
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5)
  border: 1px solid rgba(0,0,0,0.5)
  padding: 10px
  margin: 18px
  +rounded_corners(5px)

.user
  width: 415px
  float: left
