.sign_in_box
  text-align: center
  margin: 0 auto
  width: 400px
  +rounded_corners(10px)
  border: 8px solid gray
  background-color: #feffee
  margin-top: 50px

  .text_field
    label
      width: 60px

  h3
    padding: 15px
    font-size: 25px
    line-height: 30px
    font-weight: normal

.help
  text-align: center
  margin-top: 50px
