.home
  +clearfix
  margin: 0 auto
  width: 800px
  h1
    font-size: 66px !important
    line-height: 79px
    margin: 0 0 10px 0 !important
    font-family: Palatino, Arial
    text-align: center
  .statistics
    +clearfix
    width: 450px
    margin: 0 auto 15px
    font-size: 61px
    line-height: 52px
    text-align: center
    font-family: Palatino, Arial
    font-weight: bold
    .subtitle
      font-size: 20px
      line-height: 23px
    .first
      margin-right: 35px
      float: left
    .second
      margin-right: 35px
      float: left
      color: orange
    .third
      float: left
  .chart_image
    text-align: center
        
  .left
    padding-top: 20px
    width: 550px
    float: left
    //border-right: 1px dashed gray
    p
      padding-right: 15px
  .right
    width: 227px
    float: right
    padding: 15px 0
    ul
      padding: 15px 0
      margin: 0
      list-style: none
      li
        line-height: 15px
        +clearfix
        padding-bottom: 10px
  .logo
    text-align: center
    img
      margin-right: 75px


.about
  h2
    padding-bottom: 15px

  .contributer_picture
    padding: 0 10px 5px 0
    
  .about-paragraph
    +clearfix
    margin: 0 auto 20px
    
