.navbar {
  .brand {
    img {
      display: inline !important;
    }
    padding: 14px 20px 10px;
  }
  .nav>li>a {
    padding: 18px 15px;
  }

  .navbar-inner {
    @include border-radius(0);
  }

  .login-button{
    margin-top: 17px;
  }

  .dropdown-menu{
    min-width: 75px;
    li a {
      padding: 7px;
    }
  }
}

.container {
  max-width: 1000px;

  .navbar .container {
    width: auto;
  }
}

.jumbotron{
  text-align: center;

  .lead{
    font-size: 24px;
    line-height: 1.25;
  }

  h1 {
    font-size: 100px;
    line-height: 1;
  }
}


.field_with_errors {
  .control-label, .help-block, .help-inline {
    color: #b94a48;
  }
  .checkbox, .radio, input, select, textarea {
    color: #b94a48;
  }
  input, select, textarea {
    border-color: #b94a48;
  }
  input:focus, select:focus, textarea:focus {
    border-color: #953b39;
  }
  span.error {
    color: #fa4700;
  }
  span {
    padding-left: 5px
  }
}

