.navbar {
  .brand {
    img {
      display: inline !important;
    }
    padding: 14px 20px 10px;
  }
  .nav>li>a {
    padding: 18px 15px;
  }

  .navbar-inner {
    @include border-radius(0);
  }

  .pull-right.logged_out {
    padding: 17px 0;
  }
  .pull-right.logged_in{
    padding: 13px 0;
    img.profile_pic {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border: 1px solid #999;
      @include border-radius(25px);
    }
  }

  .dropdown-menu{
    min-width: 75px;
  }

  .dropdown-menu>li>a {
    text-align: left;
  }
}


.container {
  max-width: 1000px;

  .navbar .container {
    width: auto;
  }
}

.jumbotron{
  text-align: center;

  .lead{
    font-size: 24px;
    line-height: 1.25;
  }

  h1 {
    font-size: 100px;
    line-height: 1;
  }
}


.field_with_errors {
  .control-label, .help-block, .help-inline {
    color: #b94a48;
  }
  .checkbox, .radio, input, select, textarea {
    color: #b94a48;
  }
  input, select, textarea {
    border-color: #b94a48;
  }
  input:focus, select:focus, textarea:focus {
    border-color: #953b39;
  }
  span.error {
    color: #fa4700;
  }
  span {
    padding-left: 5px
  }
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

ul {
  list-style: none;
  margin: 0;
}

