.navbar {
  .brand {
    img {
      display: inline !important;
    }
    padding: 14px 20px 10px;
  }
  .nav>li>a {
    padding: 18px 15px;
  }

  .navbar-inner {
    @include border-radius(0);
  }

  .pull-right.your_profile_bar{
    padding: 13px 0;
    img.profile_pic {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border: 1px solid #999;
      @include border-radius(25px);
    }
  }

  .dropdown-menu{
    min-width: 75px;
  }

  a {
    text-decoration: none;
  }

  .dropdown-menu>li>a {
    text-align: left;
  }
}

.container {
  .navbar .container {
    width: auto;
  }
}


.explore_countries, .sign_up{
  margin: 20px 0 5px;
}
.jumbotron{
  text-align: center;

  .lead{
    margin-bottom: 9px;
    font-size: 24px;
    line-height: 1.25;
  }

  h1 {
    font-size: 100px;
    line-height: 1;
  }
}

a.btn.facebook-signin {
  margin-bottom: 24px;
}

textarea.comment_body, textarea#message_body{
  margin-bottom: 5px;
  width: 300px;
  height: 50px;
}

.time.add-on {
  @include border-radius(0 4px 4px 0);
}


.ui-accordion {
  textarea, input {
    font-size: 13px;
    width: 96%;
  }
  .section {
    padding: 10px;
    border-bottom: 1px dashed #212121;
  }
  .waiting_time {
    border-bottom: 0 !important;
  }
}


form#new_trip {
  input#trip_departure,
  input#trip_arrival{
    width: 100px;
    @include border-radius(0);
  }
  input#trip_departure_time,
  input#trip_arrival_time {
    border-left: 0;
    width: 66px;
    @include border-radius(0 4px 4px 0);
  }
}


.field_with_errors {
  .control-label, .help-block, .help-inline {
    color: #b94a48;
  }
  .checkbox, .radio, input, select, textarea {
    color: #b94a48;
  }
  input, select, textarea {
    border-color: #b94a48;
  }
  input:focus, select:focus, textarea:focus {
    border-color: #953b39;
  }
  span.error {
    color: #fa4700;
  }
  span {
    padding-left: 5px
  }
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

ul {
  list-style: none;
  margin: 0;
}

.sidebar.secondary-column {
  aside{
    display: block;
    padding-left: 10px;
    margin-bottom: 15px;
  }
  aside.user_image {
    text-align: center;
  }

  img.profile_pic {
    @include border-radius(999px);
  }
}

.edit_user {
  #user_about_you {
    width: 96%;
    height: 100px;
  }
}

.users img.profile_pic {
  width: 25px;
  height: 25px;
}


form.trips_search {
  margin: 0;
  line-height: 40px;
  label{
    display: inline-block;
  }
  select {
    width: 150px;
  }
}

.extremely.positive {
  color: $green;
}
.positive {
  color: $lightgreen;
}
.neutral {
  color: $orange;
}
.negative {
  color: $red;
}
.extremely.negative {
  color: $red;
}

.map {
  width: 100%;
  height: 300px;
}

.comment-picture img.profile_pic {
  @include border-radius(30px); // make rounded corners match the pills
}

#map {
  width: 100%;
  float: right;
  margin-bottom: 13px;
}

#map.trip_show {
  height: 200px;
}

footer#footer{
  h1 {
    color: #d8dfe5;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  margin-top: 20px;
  .social {
    a {
      font-size: 43px;
      width: 34px;
      height: 34px;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.smaller {
  font-size: 12px;
  font-size: 1.2rem;
  line-height:2;
  margin-bottom: 0;
}

.home_sidebar {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  h4 {
    padding-top: 0;
  }
  .short_headline{
    padding-top: 5px;
  }
}

.new_hitchhiking_trips{
  li {
    margin-bottom: 20px
  }
}

.news {
  hr {
    margin: 10px 0;
  }
  ul li ul li {
    list-style: circle;
    margin: 5px 20px;
  }
}

.blue {
  color: #7596C4;
}
.pink {
  color: darken(pink, 10)
}
.new_hitchhikers ul li{
  margin: 5px 0;
}

.icon-meh {
  color: gray;
}
.very-positive {
  color: black;
}
.icon-frown {
  color: #da4f49;
}

.ride_detail {
  h3 { margin-top: 0; }
  .date.month{
    text-transform: lowercase;
  }
}


@media only screen and (max-width:600px) { 
  .ride_detail .date{
    width: 43px;
    height: 30px;
    .day{
      margin-top: -3px;
      font-size: 17px;
    }
  }
  .jumbotron h1{
    font-size: 62px;
  }

  #new_trip {
    input#trip_arrival, input#trip_departure {
      width: 140px !important
    }
    input#trip_arrival_time, input#trip_departure_time {
      width: 90px !important
    }
    input[type="submit"] {
      margin-bottom: 10px;
    }
  }
  .centered-row{
    .span3{
      display: none;
    }
  }
}
