html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -235px;
}
.push {
    height: 235px;
}

footer#footer {
  clear: both;
  border-top: 3px solid #6d767e;
  padding-top: 10px;
  color: #666;
  background: #222;
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;
  h4 {
    margin-bottom: 10px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #6d767e;
  }
  a {
    color: #9bd9e9;
    text-decoration: none;
  }
}
