%aside.widget
  %h5.short_headline
    %span Trips
  .sidebar-tabs
    %ul.blogposts.clearfix
      %li
        %span.date
          %span.month Jan
          %span.day 13
          %span.year 2012
        %h3
          %a{:href => "blog-single.html"} We frequently maximize turn-key infrastructures
        %a{:href => "blog-single.html"}
        %p Your budget for unleashing should be at least twice...
      %li
        %span.date
          %span.month Nov
          %span.day 28
          %span.year 2012
        %h3
          %a{:href => "blog-single.html"} Split of a Second
        %a{:href => "blog-single.html"}
        %p Wingsuit World Champion Espen Fadnes and...
      %li
        %span.date
          %span.month Sep
          %span.day 18
          %span.year 2012
        %h3
          %a{:href => "blog-single.html"} Latte Art
        %a{:href => "blog-single.html"}
        %p
          Creating art with latte coffee.
          Lorem ipsum dolor sit amet...
      %li
        %span.date
          %span.month Mar
          %span.day 3
          %span.year 2012
        %h3
          %a{:href => "blog-single.html"} Lorem ipsum dolor sit amet
        %a{:href => "blog-single.html"}
        %p senectus et netus et malesuada fames ac turpis egestas...

