- content_for :head do
  %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var traveling_with_data = google.visualization.arrayToDataTable([
        ['Traveling with', 'number of rides'],
        ['Hitchhiked alone',        #{user.trips.alone.size}],
        ['In pairs',     #{user.trips.in_pairs.size}],
        ['In threesome', #{user.trips.with_three.size}],
        ['In foursome',  #{user.trips.with_four.size}]
      ]);


      var chart = new google.visualization.PieChart(document.getElementById('traveling_with_chart'));
      chart.draw(traveling_with_data, {});
    }

#traveling_with_chart
