#pageflip_right
  %a{:href => "http://www.github.com/flov/hitchlog"}
    %img{:alt => "Open Source", :src => "/images/page_flip_right.png"}/
    %span.msg_block 
      Fork Me On Github
  .msg_block
#pageflip_left
  %a{:href => "https://teambox.com/projects/hitchlog"}
    %img{:alt => "Open Source", :src => "/images/page_flip_left.png"}/
    %span.msg_block 
      Collaborate On Teambox
  .msg_block
 
