- resolution ||= '700x200'
- size ||= 'normal'
- content_for :head do
  %script{:type => "text/javascript", :src  => "http://www.google.com/jsapi"}  
= "<img src='#{user.chart_image(user.trips, user.to_s, :size=>size)}'/>".html_safe
