- if model.errors.any?
  #errorExplanation
    %h2= "#{pluralize(model.errors.count, 'error')} prohibited this user from being saved:"
    %ul
      - model.errors.full_messages.each do |msg|
        %li= msg
