%footer#footer
  .container
    .row-fluid
      .span3
        %section
          %h4= t('.follow_the_hitchlog')
          %ul.social
            %li
              %a.icon-facebook.tip{title: "The Hitchlog on Facebook", href: 'https://www.facebook.com/pages/Hitchlog/106464962761282'}
            %li
              %a.icon-twitter.tip{title: "The Hitchlog on Twitter", href: "https://twitter.com/hitchlog"}
      .span9
        .fb-like{"data-colorscheme" => "dark", "data-font" => "arial", "data-href" => "https://www.facebook.com/pages/Hitchlog/106464962761282", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}

  %section.footerCredits
    .container
      %ul.clearfix
        %li © 2013 Hitchlog
        %li
          %a{:href => "blog.hitchlog.com"} Blog

