%footer#footer
  .container
    .row-fluid
      .span6
        %section
          %h4= t('sessions.footer.follow_the_hitchlog')
          %ul.social
            %li
              %a.fa.fa-facebook.tip{title: t('sessions.footer.follow_on_facebook'), href: 'https://www.facebook.com/pages/Hitchlog/106464962761282'}
            %li
              %a.fa.fa-twitter.tip{title: t('sessions.footer.follow_on_twitter'), href: "https://twitter.com/hitchlog"}
        .fb-like{"data-colorscheme" => "dark", "data-font" => "arial", "data-href" => "https://www.facebook.com/pages/Hitchlog/106464962761282", "data-send" => "false", "data-show-faces" => "true", "data-width" => "310"}
      .span6

  %section.footerCredits
    .container
      %ul.clearfix
        %li Hitchlog
        %li
          %a{href: "http://blog.hitchlog.com"} Blog

