.home_sidebar.news
  %p.short_headline
    %span 
      %i.icon-bullhorn
      = t('general.news')
  %ul
    %li
      %p.smaller
        August 3, 2013 &middot; <b>Tagging of rides</b>
      %p.smaller
        Tag your rides and get your own hitchhiking tag cloud!
        %br/
        By adding keywords to your rides, it will be easier for others
        to tell what your experience was like.
        %br/
        Tag your rides with e.g. `adventurous`, `crazy`, `dangerous`, etc.
        and let others search your hitchhiking trips by tags

    %hr/

    %li
      %p.smaller
        July 27, 2013 &middot; <b>World Map</b>
      %p.smaller
        Your profile will now show you a world map of your
        hitchhiked countries.
        Pretty Cool! Check it out in your profile!
        %br/
        Happy
        %i.icon-thumbs-up.tip{title: 'hitchhiking'}
        !

    %hr/

    %li
      %p.smaller
        July 15, 2013

      A fancy new webdesign and more power
      %ul.smaller
        %li
          Responsive webdesign which looks cool in your mobile browser.
          Now you can log your hitchhiking trips on your fancy smart phone.
        %li
          The Hitchlog App and the Database has been moved to a different, more
          powerful and more scalable machine (Heroku).
          It can now serve a whole army of hitchhikers!
          Ka Pow!
