.home_sidebar.news
  %p.short_headline
    %span 
      %i.icon-bullhorn
      = t('general.news')
  %ul
    %li
      %p.smaller
        July 15, 2013

      Hitchlog 2.0 released:
      %ul.smaller
        %li
          Responsive webdesign which looks cool in mobile browsers.
          Now you can log your trips on your fancy smart phone.
        %li
          The Hitchlog App and the Database has been moved to a different, more
          powerful and more scalable machines (Heroku)
