<div class="nivo-theme-default">
  <div id="slider" class="nivoSlider">
    <a href="/system/photos/2823/large/IMG_7656.JPG?2012" class="nivo-imageLink">
      <img src="/system/photos/2823/cropped/IMG_7656.JPG?2012" title="Hitchhiking in Iran" style="display: block; ">
    </a>
    <div class="nivo-caption" style="opacity: 0.8; ">
      <p>Hitchhiking in Iran</p>
    </div>
    <div class="nivo-directionNav" style="display: block; ">
      <a class="nivo-prevNav">Prev</a>
      <a class="nivo-nextNav">Next</a>
    </div>
  </div>
</div>

