- title "About"

.about
  %h1 About

  %p
    The Hitchlog helps hitchhiker to log their hitchhiking experience and gives
    an authentic view on hitchhiking untouched of it's bad reputation that is
    spread by public media/movies and tries to make the world a more
    hitchhiker friendly place.
  %p
    The information that is entered by hitchhikers (waiting time, stories,
    routes) generates statistics data like the average waiting time, the
    longest/shortest ride of a user, the total number of kilometers hitchhiked
    by a user in for example Mexico, etc...
  %p
    Stories can be attached to rides so that rides become like blog entries
    telling a bit about the situation, the person and the ride.

  %h2 Friends:
  .about-paragraph
    .float_left.contributer_picture
      =link_to(image_tag('tramprennen_logo.png'), "http://www.vivaconagua.org/")
    %h3 Tramprennen
    %p
      Since 2006 a growing group of hitchhikers are racing around Europe
      by hitchhiking. They are organized in teams and within two weeks
      the teams arrive step by step at a final destiniation.
      %br/
      %br/
      Since 2008 Tramprennen supports the NGO VivaConAgua. VivaConAgua build clean water
      suplies in third world countries. Together with 96 Teams and 232 attendees,
      Tramprennen managed in 2011 to gather money worth building 6 remarkable
      water suplies around the equator.
      %br/
      %br/
      Visit <a href='http://tramprennen.org/'>Trampprenenn.org</a> to find out about the
      latest project where <b>you</b> could become part of as well.
  .about-paragraph
    .float_left.contributer_picture=link_to(image_tag('Hitchwiki.png'), 'http://hitchwiki.org/')
    %h3 Hitchwiki
    %p
      Just like Wikipedia, Hitchwiki is a wiki but for hitchhiking.
      Hitchhikers from all around the world share tips and information all around hitchhiking.
      It helped many hitchhikers to find a good spot to leave the city and is really useful.

  .about-paragraph
    .float_left.contributer_picture
      =link_to(image_tag('Random_Roads.jpg'), "http://randomroads.org/")
    %h3 Random Roads
    %p
      RandomRoads is a printed magazine, one that travels from one person 
      to another, one that travelers can give to their drivers or other 
      people they meet on the road. As such, the magazine is a great way 
      to create further bonding between hitchhikers, and to have something 
      we can give away that is representable for our culture.




  %h2 Contribute
  .float_right
    =image_tag 'open-source.png'
  %p
    The Hitchlog lives off the community and without hitchhikers logging trips
    this application is worthless. Logging previous hitchhiking trips and
    telling some stories is already really helpful. You can also spread the
    word by telling your fellow hitchhiking friends about the site. 
  %p
    #{link_to "Florian", user_path(id: @flov)} is developing this application all on his onw
    and he is searching for coders who are willing to contribute to the codebase of the project.
    The application is completely open-source and available on 
    <a href='http://github.com/flov/Hitchlog'>Github</a>

  %h3 How To Contribute
  %p
    There are many ways to contribute to <a href='http://hitchlog.com'>Hitchlog.com</a>:
  %ul
    %li
      If you want to see Hitchlog in your locale language, help to translate the webpage.
      You do not need to know anything technical, all you need to do is translate the website over
      a very intuitive graphical user interface.

      Please drop a line to florian@hitchlog.com
    %li
      Help with coding the project: <a href='http://github.com/flov/Hitchlog'>Github.com/flov/Hitchlog</a>
      %br/
      All current tasks are managed by using Pivotal Tracker, just join the
      project and start coding on a feature by clicking here:
      <a href='https://www.pivotaltracker.com/projects/307593'>https://www.pivotaltracker.com/projects/307593</a>
    %li
      Give it a shout on twitter, facebook or another social medium.
    %li
      Log Hitchhiking Trips

  %p
    If you have some valuable, constructive feedback or if you want to help
    to build the Hitchlog, get in touch by sending 
    #{link_to 'Florian', user_path(id: @flov)} an email:
    %br/
    florian@hitchlog.com

