---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/24.193.83.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Thu, 03 Sep 2015 12:30:23 GMT
    body:
      encoding: UTF-8
      string: |
        {"ip":"24.193.83.1","country_code":"US","country_name":"United States","region_code":"NY","region_name":"New York","city":"Brooklyn","zip_code":"11215","time_zone":"America/New_York","latitude":40.662,"longitude":-73.986,"metro_code":501}
  recorded_at: Tue, 29 Sep 2015 22:05:08 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.662,-73.986&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "488",
                       "short_name" : "488",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "7th Avenue",
                       "short_name" : "7th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "South Slope",
                       "short_name" : "South Slope",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_[...]
