$hitchslide_width: 950px
$hitchslide_left_width: 500px
$hitchslide_right_width: $hitchslide_width - $hitchslide_left_width

.hitchslide
  overflow: auto
  margin: 0 auto
  color: white
  position: relative
  width: $hitchslide_width
  height: 250px
  .hitchslider_image
    img
      position: absolute
      top: 0
      left: 0
  .hitchslider_information
    z-index: 10
    position: absolute
    top: 0
    left: 0px
    background-color: black
    opacity: 0.8
    +border-radius(0 0 12px 0)
    padding: 5px 7px 0
    height: 24px

  .hitchslider_caption
    z-index: 20
    position: absolute
    bottom: 0
    background-color: black
    opacity: 0.8
    font-family: Helvetica, Arial, sans-serif
    width: 500px
    p
      margin: 5px !important
  .hitchslide_left
    z-index: 1
    position: absolute
    left: 0
    top: 0
  .hitchslide_map
    width: 215px
    height: 250px
    float: right
    right: 0
    background-color: gray
    overflow: hidden

  .story_wrapper
    width: 235px
    background-color: black
    overflow-y: auto
    overflow-x: hidden
    height: 250px
    position: relative
    float: right
    .hitchslider_story
      position: absolute
      width: 200px
      padding: 10px
      left: 0
      background-color: black
      p
        font-size: 12px
        line-height: 16px
      h2
        font-size: 17px
        line-height: 24px



.hitchslider
  position: relative
  background: white url(/stylesheets/loading.gif) no-repeat 50% 50%
  width: $hitchslide_left_width
  height: 250px
  #hitchslider_loader
    position: absolute
    display: none
    top: 117px
    left: 242px
    height: 16px
    width: 16px
    background: url(/stylesheets/loading.gif) no-repeat 50% 50%
  .hitchslider_directionNav a
    position: absolute
    top: 45%
    width: 42px
    z-index: 9
    height: 30px
    background: url(/stylesheets/hitchlog_arrows.png) no-repeat
    text-indent: -9999px
    cursor: pointer
  a
    &.hitchslider_nextNav
      background-position: -42px 0
      right: 15px
    &.hitchslider_prevNav
      left: 15px

