nav
  margin-top: 5px
  float: right
  ul
    margin: 0
    padding: 0
    display: inline-block
    font-weight: bold
    text-transform: uppercase
    li
      margin: 0
      position: relative
      float: left
      text-shadow: rgba(0, 0, 0, 0.75) 0 1px 1px
      color: white
      font-weight: bold
      text-transform: uppercase

      a
        font-size: 12px
        padding: 5px 10px
        color: white

      a:hover
        color: orange

li.nav_your_profile
  +border-radius(5px)
  position: relative
  padding-left: 25px
  border: 1px solid black
  height: 25px
  line-height: 25px
  top: -4px
  position: relative
  z-index: 9
  background-color: lighten($orange, 10)

  a
    padding: 5px 10px 5px 4px
  img
    +border-radius(5px 0 0 5px)
    position: absolute
    top: 0px
    left: 0px
    width: 25px
    height: 25px


  ul.nav_your_profile_list
    position: absolute
    bottom: 0
