.pretty_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: white !important;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from($orange), to(lighter($orange, 20)));
  background: -moz-linear-gradient(top, #67B0EF, #2B5EA4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67B0EF', endColorstr='#2B5EA4');
  text-decoration: none;
  text-shadow: 0 -1px 0 #036;
  border-image: initial;
}
