---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Barcelona%2C+Spain&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Barcelona\",\n               \"short_name\"
        : \"Barcelona\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Barcelona\",\n
        \              \"short_name\" : \"Barcelona\",\n               \"types\" :
        [ \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Barcelona\",\n               \"short_name\" : \"B\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Catalonia\",\n               \"short_name\"
        : \"CT\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Spain\",\n
        \              \"short_name\" : \"ES\",\n               \"types\" : [ \"country\",
        \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Barcelona, Spain\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 41.46957610,\n
        \                 \"lng\" : 2.22800990\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 41.3200040,\n                  \"lng\" :
        2.06952580\n               }\n            },\n            \"location\" : {\n
        \              \"lat\" : 41.38506390,\n               \"lng\" : 2.17340350\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 41.46957610,\n
        \                 \"lng\" : 2.22800990\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 41.3200040,\n                  \"lng\" :
        2.06952580\n               }\n            }\n         },\n         \"types\"
        : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Sat, 12 Jan 2013 06:08:13 GMT
recorded_with: VCR 2.3.0
