---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/195.71.11.67
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"ip":"195.71.11.67","country_code":"DE","country_name":"Germany","region_code":"","region_name":"","city":"","zipcode":"","latitude":51,"longitude":9,"metro_code":"","areacode":""}'
  recorded_at: Sun, 21 Jul 2013 14:03:28 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=51.0%2C9.0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"K110\",\n               \"short_name\"
        : \"K110\",\n               \"types\" : [ \"route\" ]\n            },\n            {\n
        \              \"long_name\" : \"Haina\",\n               \"short_name\" :
        \"Haina\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n
        \           {\n               \"long_name\" : \"Kassel\",\n               \"short_name\"
        : \"KS\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Hesse\",\n
        \              \"short_name\" : \"HE\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Germany\",\n               \"short_name\" : \"DE\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"35285\",\n               \"short_name\" : \"35285\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"K110, 35285 Haina, Germany\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 50.99638740,\n
        \                 \"lng\" : 8.99161670\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 50.99536350,\n                  \"lng\" :
        8.99051910\n               }\n            },\n            \"location\" : {\n
        \              \"lat\" : 50.99587730,\n               \"lng\" : 8.99107220\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 50.99722443029150,\n
        \                 \"lng\" : 8.992416880291502\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 50.99452646970850,\n                  \"lng\"
        : 8.989718919708498\n               }\n            }\n         },\n         \"types\"
        : [ \"route\" ]\n      },\n      {\n         \"address_components\" : [\n
        \           {\n               \"long_na[...]
[...]
