- form_for @hitchhike, :url => trip_hitchhike_path(@trip, @hitchhike), :html => { :multipart => true } do |f|
  = render :partial => 'hitchhikes/hitchhike_fields', :locals => {:trip => @trip, :hitchhike => @hitchhike, :f => f}