%h1 Introduction to Hitchspread!
%p 
  My name is Florian and I am a Ruby on Rails developer.
  Hitchhiking encourages people to discard their prejudices and thus needs to be encouraged.<br />
  <br />
  The scepticism towards the safety and the possibility of getting from a to b is quite big among most people.
  I have always wondered how it is possible to bring the actual experience of hitchhiking to another person
  and how it is possible to convince people to try hitchhiking.<br />
  I want to make a long list of all those people who took me on my travels and put them in one database.
  All together you put
%ul
  %li a picture of the ride
  %li the name
  %li the occupation
  %li the mission of the people who took you at that given time (like raising children or preparing for exam...)
  %li the place they picked you up and where they dropped you