%h1 Introduction to Hitchspread!
%p 
  My name is Florian. I am a Ruby on Rails developer and I love to hitchhike.
  Hitchhiking encourages people to discard their prejudices and  thus needs to be encouraged.<br />
  <br />
  The scepticism towards the safety and possibility of getting from a to b without money is very big and I have always wondered how one could convince people of the opposite.<br />
  Well, I guess the best way to do this is to show them that it is very well possible.<br />
  Therefore I want to create this Network of hitchhikers.<br />
  It all began with the thought of using this for my personal journey and my personal blog.
  I want to make a long list of all those people who took me on my travels and put them in one database.
  All together you put
%ul
  %li a picture of the ride
  %li the first name (if given)
  %li the occupation
  %li the mission of the people who took you at that given time (like raising children or preparing for exam...)
  %li the place they picked you up and where they dropped you
%p    
  I think that especially the mission says alot about a person at that time