%h1= @hitchhike.title
%p=  @hitchhike.story
/ %p
/   %strong From:
/   = @hitchhike.from
/ %p
/   %strong To:
/   = @hitchhike.to
/ %p
/   %strong waiting_time:
/   = @hitchhike.waiting_time
/ %p
/   People:<br />
/   %strong Name:
/   = @hitchhike.people.first.name
/ %p
/   %strong Gender:
/   = @hitchhike.people.first.gender
/ %p
/   %strong Mission:
/   = @hitchhike.people.first.mission
/ %p
/   %strong Origin:
/   = @hitchhike.people.first.origin
- if @hitchhike.photo.file?
  %p
    cropped:
    %br/
    = image_tag @hitchhike.photo.url(:cropped) 