/* blog general
================================================== */
.entry-post { *zoom: 1}
.entry-post:before, .entry-post:after 
{display: table; content: ""; line-height: 0;}

.entry-post:after
{clear: both}

.entry-meta abbr {border:0px;}

/****** date ******/
.blog.date {
    text-align: center;
    display: block;
    background: #d8dfe5;
    width: 65px;
    height: 52px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    line-height: 1;
    padding-top: 13px;
    -webkit-box-shadow: inset 2px 2px 0px 0px #a3b0bb;
    box-shadow: inset 2px 2px 0px 0px #a3b0bb;
}
.blog.date * { display: block }
.blog.date .day {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 4px;
}
.blog.date .month {
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    top: -1px;
    left: 1px;
}
.blog.date .year { font-size: 10px }

.trip-detail .video-wrapper, 
.blog-summary .video-wrapper 
{ margin-bottom: 20px }

.trip-detail header .byline,
.trip-detail header .entry-meta{
    font-size: 12px;
    font-size: 1.2rem;
    line-height:2;
}
.trip-detail header .byline a,
.trip-detail header .entry-meta a{
	text-decoration:none
}
.trip-detail header .byline { padding-top: 5px }
.trip-detail .byline abbr { border-bottom: none }


/* trip-detail
================================================== */
.trip-detail {
  hr {
    margin: 20px 0;
  }
  .entry-content {
    width: 100%;
    clear: both;
  }
  margin-bottom: 20px
}

.span8.trip-detail {
  .entry-content {
    article {
      width: 87%;
      float: right;
    }
    footer {
      width: 12%;
      display: block;
      margin-right: 2%;
    }
  }

  .entry-header,
  .entry-tags,
  .entry-comments,
  .entry-pagination,
  .entry-related {
    float: right;
    width: 87%;
    clear:both;
  }
}

.span9.trip-detail {
  .entry-content{
    article {
      width: 89%;
      float: right;
    }
    footer {
      width: 12%;
      display: block;
      margin-right: 2%;
    }
  }
  .entry-header,
  .entry-tags,
  .entry-pagination,
  .entry-comments,
  .entry-related {
    float: right;
    width: 89%;
    clear:both;
  }
}

/****** entry footer ******/
.trip-detail .entry-footer {
    width: 12%;
    display: block;
    margin-right: 2%;
}

.trip-detail .entry-footer .addthis_toolbox {
    padding-top: 30px;
    margin-left: 25px;
    width: 16px;
}
.trip-detail .entry-footer .addthis_toolbox span { margin: 0 auto 10px auto }
.trip-detail .entry-header .addthis_toolbox { display: none }


/****** entry header ******/
.trip-detail .entry-header {
  position: relative;
}
.blog-summary .entry-header {
  padding-bottom: 10px;
  position: relative;
}
.trip-detail .entry-header h1,
.trip-detail .entry-header h2 {
  margin-top: 0;
}

/* blog summary grid/filtered masonry
================================================== */
.blog-summary-grid li { padding: 0!important;background: none;}
.blog-summary-grid li div.entry-summary {
    padding: 5px 10px 10px 10px;
    background: #d8dfe5;
}
.blog-summary-grid .entry-meta {
    padding-top: 8px;
    font-size: 11px;
    border-top: 1px dotted #a3b0bb;
}
.blog-summary-grid li.quotes .entry-summary { background: #758694 }
.blog-summary-grid li a.commentlink {
	font-size: 11px;
	clear:both;
	border-bottom: 1px dotted #a3b0bb;
	display:block;
}
.blog-summary-grid li h4 { clear: both }
.blog-summary-grid li.quotes .entry-summary blockquote {
    background-image: url(../images/open-quote-white.png);
    font-size: 180%;
}
.blog-summary-grid li.quotes .entry-summary blockquote footer { font-size: 50% }
.blog-summary-grid li.quotes h4 { display: none }


/* Entry Comments
================================================== */
.entry-comments {
  h3 a { text-decoration: none }
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  footer {
    img {
      float: left;
      width: 50px;
      height: 50px;
    }
    .comment-meta {
      float: left;
      margin-left: 10px;
      font-size: 11px;
      font-size: 1.1rem;
      line-height: 1.4;
      a {
          text-decoration: none;
          border-bottom: 1px dotted #777;
      }
    }
    .comment-author { display: block }
    .comment-author cite {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        font-size: 1.6rem;
    }
    .comment-author cite a {
        text-decoration: none;
        border: none;
    }
  }
  .text {
      clear: both;
      padding-top: 10px;
      font-size: 12px;
      font-size: 1.2rem;
  }
}

/* Commment Form
================================================== */
#comment-form {
    margin: 20px 0 0 0;
    padding-right: 3%;
}
#comment-form p {
    font-size: 12px;
    font-size: 1.2rem;
    font-style: oblique;
}
.comment_form label {
    font-size: 12px;
    font-size: 1.2rem;
}
.comment_form .btn,
.comment_form input[type="submit"],
.comment_form  input[type="button"] {
    clear: both;
    margin-top: 10px;
}
.comment_form span.name {
    float: left;
    width: 40%;
}
.comment_form span.email {
    float: left;
    width: 60%;
}
.comment_form #name { width: 90% }
.comment_form #email,
.comment_form textarea,
.comment_form #website { width: 100% }
.comment_form .error input,
.comment_form .error textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* media queries
================================================== */

@media only screen and (max-width: 1080px) { 
    /******  date ******/
    .span6 .blog.date {
        width: 50px;
        height: 35px;
        padding-top: 15px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }
    .span6 .blog.date .day { font-size: 16px }
    .span6 .blog.date .month { font-size: 10px }
    .span6 .blog.date .year { display: none }
    .span6 .trip-detail .date_share .addthis_toolbox {
        clear: both;
        padding-top: 30px;
        margin-left: 15px;
        width: 16px;
    }
} /*end*/


@media only screen and (max-width: 880px) { 
    /******  date ******/
    .span9 .blog.date {
        width: 50px;
        height: 35px;
        padding-top: 15px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }
    .span9 .blog.date .day { font-size: 16px }
    .span9 .blog.date .month { font-size: 10px }
    .span9 .blog.date .year { display: none }
    .span9 .trip-detail .date_share .addthis_toolbox {
        clear: both;
        padding-top: 30px;
        margin-left: 15px;
        width: 16px;
    }
} /*end*/


@media only screen and (max-width:600px) { 

  .trip-detail .addthis_toolbox span { margin: 0 auto 10px auto }
  .trip-detail .entry-footer .addthis_toolbox { display: none }

  .trip-detail {
    .entry-header,
    .entry-content,
    .entry-tags,
    .entry-pagination,
    .entry-related {
      article {
        width: 100%!important;
        float: none!important;
      }
      width: 100%!important;
      float: none!important;
    }
  }

  .entry-comments {width:100%!important;}
  .trip-detail .entry-header .addthis_toolbox {
    display: block!important;
    padding-top: 10px;
    height: 16px;
  }
  .trip-detail .entry-header .addthis_toolbox span {
    float: left;
    margin-right: 10px;
    height: 16px;
  }
  .trip-detail {
    padding-top: 3%;
    position: relative;
  }
  #comment-form {
    margin: 3% 0 0 0;
    padding-right: 3%;
    width:94%;
  }
  .comment_form .btn,
  .comment_form input[type="submit"],
  .comment_form  input[type="button"] {
    clear: both;
    margin-top: 10px;
  }
  .comment_form span.name { width: 90% }
  .comment_form span.email {
    float: none;
    width: 100%;
  }
  .comment_form #name { width: 100% }
  .comment_form #email,
  .comment_form textarea,
  .comment_form #website { width: 90% }
  textara#comment_body {
    width: 340px;
  }
} /*end*/

