%p
  = t('hitchslider.user_hitchhiked_text', user: link_to(ride.trip.user.to_s, user_path(ride.trip.user)),
                                          time: (ride.trip.departure ? time_ago_in_words(ride.trip.departure) : nil),
                                          distance: distance(ride.trip.distance),
                                          from: ride.trip.from,
                                          to: ride.trip.to,
                                          rides_size: ride.trip.rides.size).html_safe
  - if ride.trip.duration && ride.trip.duration != 0
    = t('hitchslider.it_took_text', time: human_seconds(ride.trip.duration)).html_safe

  = link_to "(more)", trip_path(ride.trip)
