<div id="site-photography">
  <div id="site-photography-loader">Loading...</div>
  <a id="site-photography-left">Prev</a>
	<a id="site-photography-right">Next</a>
	
  <div id="site-photography-details">
		<p>
			<span id="site-photo-details-description"></span>
			<em>( <a href="" id="site-photo-details-link">photo link</a> )</em>
		</p>
		
		<ul class="clear-fix" id="site-photo-details-contacts">
		</ul>
	</div>
  <img id="site-photography-photo" />
</div>