#site-photography
  #site-photography-loader Loading...
  %a#site-photography-left Prev
  %a#site-photography-right Next
  #site-photography-details
    %p
      %span#site-photo-details-description
      %em
        (
        %a#site-photo-details-link{:href => ""} photo link
        )
    %ul#site-photo-details-contacts.clear-fix
  %img#site-photography-photo/
#map_canvas
