#hitchhike-details
#map_canvas
#site-photography
  #site-photography-loader Loading...
  %a#site-photography-left Prev
  %a#site-photography-right Next
  #site-photography-details
    %p
      %span#site-photo-details-description= @hitchhike
      %em
        (
        %a#site-photo-details-link{:href => ""} photo link
        )
        %br/
        %span#site-photo-distance
  %img#site-photography-photo/

