.container.visible-phone.hidden-tablet.hidden-desktop
  %p.right
    %a.btn.btn-primary{:href => "#secondary-nav"}
      Blog Menu &nbsp;
      %i.icon-align-justify
#main-content.container.clearfix
  / begin main content
  .row-fluid.sidebar-right
    / begin row-fluid
    .span9.blog-detail.primary-column
      / begin primary-column
      %article.entry-post
        %header.entry-header
          %h1 We frequently maximize turn-key infrastructures
          .byline
            %i.icon-pencil
            Christina Arasmo &nbsp;&nbsp;
            %i.icon-time
            %abbr.published{:title => "Monday, December 27, 2012,  8:21 PM"} December 27, 2012
            \&nbsp;&nbsp;
            %a.scrollto{:href => "#view-comments"}
              %i.icon-comments-alt
              6 comments
          .entry-meta
            %i.icon-folder-open
            = succeed "," do
              %a{:href => "#"} Design
            %a{:href => "#"} Typography
          / add this share buttons for mobile viewers
        / end entry-header
        .entry-content
          %figure
            %img{:alt => "", :src => "../demo/4830134044.jpg"}/
            %figcaption
              This is a figcaption. Image credit:
              %a{:href => "http://www.flickr.com/photos/fontfont/4830134044/"} CC BY 2.0 FontFont
          %p Crisp is the industry leader of frictionless e-services. Is it more important for something to be cutting-edge or to be customer-defined? Quick: do you have a reconfigurable strategy for coping with new versioning metrics? We usually optimize transparent, affiliate-based, 24/7/365 60/24/7/365 structuring. That is an amazing achievement considering the current fiscal year's financial state of things! Without sufficient ROI metrics, niches are forced to become six-sigma. What does it really mean to utilize "holistically"? Our magnetic feature set is unmatched, but our extensible compliance and easy operation is constantly considered a remarkable achievement. What do we aggregate? Anything and everything, regardless of humbleness! It seems discombobulating, but it's true! Our feature set is unmatched in the industry, but our one-to-one paradigms and user-proof use is always considered an amazing achievement. Think integrated. Our technology takes the best features of XSLT and XSL. It may seem incredible, but it's true!
          %p
            %img.alignleft{:alt => " ", :src => "../demo/fresh-work/fw-708px-Vincent_Willem_van_Gogh_012.png"}>/
            Image class alignleft. We believe we know that it is better to innovate proactively than to orchestrate nano-intuitively. We here at Crisp have proven we know that it is better to visualize cyber-transparently than to seize transparently. Think C2B2B. Think innovative. Think client-focused. But don't think all three at the same time. We will visualize the term "backward-compatible". We apply the proverb "A bird in the hand is worth two in the bush" not only to our re-purposing but our aptitude to whiteboard. What does the term "channels" really mean? What does the term "fractal" really mean? We will leverage the term "user-defined". The convergence factor can be summed up in one word: global. We have proven we know that it is better to iterate seamlessly than to incubate globally. Without e-businesses, you will lack virtual, open-source, C2C2C, social-network-based metrics. What do we maximize? Anything and everything, regardless of reconditeness! We often disintermediate vertical architectures. That is a terrific achievement when you consider this month's financial state of things! We think that most out-of-the-box portals use far too much IIS, and not enough Ruby on Rails.
          %p Have you ever wanted to unleash your feature set? Without having to learn Rails? Without sufficient networks, infomediaries are forced to become value-added. The metrics for obfuscation are more well-understood if they are not backward-compatible. If you integrate vertically, you may have to harness cyber-super-vertically. Your budget for syndicating should be at least one-half of your budget for synthesizing. Your budget for leveraging should be at least twice your budget for morphing. Do you have a scheme to become wireless? Is it more important for something to be 24/7 or to be customized, scalable? What do we streamline? Anything and everything, regardless of anonymity! Imagine a combination of Dynamic HTML and ActionScript.
        / end entry-content
        .entry-tags
          Tags:
          %br.clear/
          %a{:href => "#"} people
          %a{:href => "#"} open source
          %a{:href => "#"} indie thought
          %a{:href => "#"} goodness
        / close entry-tags
        %footer.entry-footer
          %span.blog.date
            %span.month Dec
            %span.day 27
            %span.year 2012
          / close date
          / add this share buttons for desktop and larger screens
        / end entry-footer
      / end entry-post
      .entry-pagination
        %ul.pager
          %li
            %a{:href => "#"} &larr; Older
          %li
            %a{:href => "#"} Newer &rarr;
        / close pager
      / end entry-pagination
      .entry-related
        %h4.short_headline
          %span Related Articles
        %ul.navigation
          %li
            %a{:href => "#"} Lorem ipsum dolor sit amet
          %li
            %a{:href => "#"} Nam sed orci massa quis placerat libero
          %li
            %a{:href => "#"} Final Test Maybe
          %li
            %a{:href => "#"} Sed venenatis laoreet ligula
      / close entry-related
      / begin comments section
      %section#view-comments.entry-comments.clearfix
        %h3
          6 Comments
          %a.scrollto{:href => "#comment-form"} | Make a comment
        / begin comments
        %ul
          / grand parent
          %li#comment-1
            / parent
            %footer.comment-meta
              %a{:href => "#", :rel => "external nofollow", :title => "Kathy"}
                %img.avatar{:alt => "Kathy", :src => "../demo/kathy.jpg"}/
              .comment-meta
                %span.comment-author.vcard
                  %cite{:title => "LinkURLofauthor"}
                    %a.url{:href => "#", :rel => "external nofollow", :title => "Kathy"} Kathy
                %time.published{:datetime => "2012-10-10T09:57:00Z"} October 10, 2012
                |
                %a.permalink{:href => "#", :title => "Permalink to comment 1"} Permalink
                |
                %a.comment-reply-link{:href => "#"} Reply
            .text
              %p
                Avatars by
                %a{:href => "http://fotogrph.com/"} fotogrph.
                Sample threaded comments. Nam sed orci massa, quis placerat libero. Vivamus at ligula odio. Morbi vel dictum ligula. Mauris id neque leo. Nullam orci quam, luctus sed posuere eu, dignissim sollicitudin sem. Sed velit arcu, rutrum et varius sit amet, congue id nunc. Aenean enim nisl, suscipit a condimentum et, malesuada et massa. Vestibulum convallis sem nec mauris dapibus non dapibus velit lobortis.
            %ul.children
              %li
                %footer.comment-meta
                  %a{:href => "#", :rel => "external nofollow", :title => "Dave"}
                    %img.avatar{:alt => "Dave", :src => "../demo/dave.jpg"}/
                  .comment-meta
                    %span.comment-author.vcard
                      %cite{:title => "LinkURLofauthor"}
                        %a.url{:href => "#", :rel => "external nofollow", :title => "Dave"} Dave
                    %time.published{:datetime => "2012-10-10T09:57:00Z"} October 10, 2012
                    |
                    %a.permalink{:href => "#", :title => "Permalink to comment 2"} Permalink
                    |
                    %a.comment-reply-link{:href => "#"} Reply
                .text
                  %p Donec sagittis lobortis libero vel semper. Nulla facilisi. Sed venenatis laoreet ligula, vulputate ornare magna posuere lobortis. Proin volutpat massa nec odio laoreet pharetra. Suspendisse quis dolor et nisl volutpat pretium. Mauris blandit metus sit amet risus aliquet et dapibus est vestibulum. Pellentesque dignissim condimentum porttitor. Vivamus est ipsum, ultrices ac ultrices sed, semper non nulla.
              / close child li
              %li
                %footer.comment-meta
                  %a{:href => "#", :rel => "external nofollow", :title => "Nickie"}
                    %img.avatar{:alt => "Jake", :src => "../demo/nickie.jpg"}/
                  .comment-meta
                    %span.comment-author.vcard
                      %cite{:title => "LinkURLofauthor"}
                        %a.url{:href => "#", :rel => "external nofollow", :title => "Nickie"} Nickie
                    %time.published{:datetime => "2012-10-10T09:57:00Z"} October 10, 2012
                    |
                    %a.permalink{:href => "#", :title => "Permalink to comment 3"} Permalink
                    |
                    %a.comment-reply-link{:href => "#"} Reply
                .text
                  %p Suspendisse a eleifend nisl. Sed elit leo, feugiat id vehicula nec, eleifend sed felis. Etiam gravida, nisi ac sagittis viverra, purus eros rhoncus odio, a dapibus felis turpis vel massa. Donec vestibulum luctus tortor ac tristique. Praesent vel est eu nisi vehicula commodo.
                  %p Phasellus eleifend, ligula ut ornare euismod, ipsum libero adipiscing nunc, in scelerisque ligula ligula eu massa.
              / close child li
              %li
                %footer.comment-meta
                  %a{:href => "#", :rel => "external nofollow", :title => "Jake"}
                    %img.avatar{:alt => "Jake", :src => "../demo/jake.jpg"}/
                  .comment-meta
                    %span.comment-author.vcard
                      %cite{:title => "LinkURLofauthor"}
                        %a.url{:href => "#", :rel => "external nofollow", :title => "Jake"} Jake
                    %time.published{:datetime => "2012-10-10T09:57:00Z"} October 10, 2012
                    |
                    %a.permalink{:href => "#", :title => "Permalink to comment 4"} Permalink
                    |
                    %a.comment-reply-link{:href => "#"} Reply
                .text
                  %p Mauris sodales imperdiet viverra. Fusce bibendum rhoncus nibh et porta. Vestibulum nec nibh tortor. Morbi viverra cursus lorem et dignissim. Maecenas rutrum adipiscing libero ut rhoncus. Cras commodo diam quis leo tristique a porta velit porta. Nunc non tellus et leo rutrum dapibus.
              / close child li
            / close children ul
          / close parent li
          %li
            / parent li
            %footer.comment-meta
              %a{:href => "#", :rel => "external nofollow", :title => "Scott"}
                %img.avatar{:alt => "Scott", :src => "../demo/scott.jpg"}/
              .comment-meta
                %span.comment-author.vcard
                  %cite{:title => "LinkURLofauthor"}
                    %a.url{:href => "#", :rel => "external nofollow", :title => "Scott"} Scott
                %time.published{:datetime => "2012-10-10T09:57:00Z"} October 10, 2012
                |
                %a.permalink{:href => "#", :title => "Permalink to comment 5"} Permalink
                |
                %a.comment-reply-link{:href => "#"} Reply
            .text
              %p Cras id mi ac felis blandit commodo non non metus. Donec orci nulla, sagittis id varius id, sagittis a metus. Proin dignissim aliquam augue, vel pulvinar ante interdum eget. Praesent lorem massa, ullamcorper eu lacinia sit amet, fermentum eget urna.
            %ul.children
              %li
                / child li
                %footer.comment-meta
                  %a{:href => "#", :rel => "external nofollow", :title => "Jackie"}
                    %img.avatar{:alt => "Jackie", :src => "../demo/jackie.jpg"}/
                  .comment-meta
                    %span.comment-author.vcard
                      %cite{:title => "LinkURLofauthor"}
                        %a.url{:href => "#", :rel => "external nofollow", :title => "Jackie"} Jackie
                    %time.published{:datetime => "2012-10-10T09:57:00Z"} October 10, 2012
                    |
                    %a.permalink{:href => "#", :title => "Permalink to comment 5"} Permalink
                    |
                    %a.comment-reply-link{:href => "#"} Reply
                .text
                  %p Sed venenatis laoreet ligula, vulputate ornare magna posuere lobortis. Proin volutpat massa nec odio laoreet pharetra. Suspendisse quis dolor et nisl volutpat pretium. Mauris blandit metus sit amet risus aliquet et dapibus est vestibulum. Pellentesque dignissim condimentum porttitor. Vivamus est ipsum, ultrices ac ultrices sed, semper non nulla.
              / close child li
            / close children ul
          / close parent li
        / close grandparent ul
        / End Comments
        / Begin Comments Form
        #comment-form
          %h3 Leave a Comment
          %p Required fields are marked *. Your email will not be published or shared.
          %form.comment_form{:action => "form-action.php", :method => "post"}
            %span.inputwrapper.name
              %label{:for => "name"} *Enter your name:
              %input#name{:name => "name", :type => "text"}/
            %span.inputwrapper.email
              %label{:for => "email"} *Email:
              %input#email{:name => "email", :type => "email"}/
            %span.inputwrapper
              %label{:for => "website"} Website:
              %input#website{:name => "website", :type => "url"}/
            %span.inputwrapper
              %label{:for => "message"} Message:
              %textarea#message{:cols => "30", :name => "message", :rows => "5"}
            %input.btn.btn-primary{:name => "submit", :type => "submit", :value => "Add Comment"}/
        / End Comment Form
      / close comment section
    / close span9 blog-detail primary-column
    %section#secondary-nav.span3.sidebar.secondary-column
      %aside.widget.clearfix
        %h5.short_headline
          %span Blog Categories
        %ul.navigation
          %li
            %a{:href => "#"} Design
          %li
            %a{:href => "#"} CSS3
          %li
            %a{:href => "#"} Typography
          %li
            %a{:href => "#"} Food
          %li
            %a{:href => "#"} Thinking
          %li
            %a{:href => "#"} Silly
      %aside.widget
        %h5.short_headline
          %span Search
        %form.searchform{:method => "get"}
          %input.span12{:onblur => "this.value='type and hit enter'", :onfocus => "this.value=''", :type => "search", :value => "type and hit enter"}/
      %aside.widget
        %h5.short_headline
          %span Blog
        .sidebar-tabs
          %ul.tabs
            %li.tab
              %a{:href => "#tab-latest"} Latest
            %li.tab
              %a{:href => "#tab-popular"} Popular
            %li.tab
              %a{:href => "#tab-tags"} Tags
          .panels
            #tab-latest
              %ul.blogposts.clearfix
                / required class
                %li
                  %span.date
                    %span.month Jan
                    %span.day 13
                    %span.year 2012
                  %h3
                    %a{:href => "blog-single.html"} We frequently maximize turn-key infrastructures
                  %a{:href => "blog-single.html"}
                  %p Your budget for unleashing should be at least twice...
                %li
                  %span.date
                    %span.month Nov
                    %span.day 28
                    %span.year 2012
                  %h3
                    %a{:href => "blog-single.html"} Split of a Second
                  %a{:href => "blog-single.html"}
                  %p Wingsuit World Champion Espen Fadnes and...
                %li
                  %span.date
                    %span.month Sep
                    %span.day 18
                    %span.year 2012
                  %h3
                    %a{:href => "blog-single.html"} Latte Art
                  %a{:href => "blog-single.html"}
                  %p
                    Creating art with latte coffee.
                    Lorem ipsum dolor sit amet...
                %li
                  %span.date
                    %span.month Mar
                    %span.day 3
                    %span.year 2012
                  %h3
                    %a{:href => "blog-single.html"} Lorem ipsum dolor sit amet
                  %a{:href => "blog-single.html"}
                  %p senectus et netus et malesuada fames ac turpis egestas...
            / close #tab-latest
            #tab-popular
              / begin tab-popular
              %ul.blogposts.clearfix
                / required class
                %li
                  %span.date
                    %span.month Jan
                    %span.day 13
                    %span.year 2012
                  %h3
                    %a{:href => "blog-single.html"} We frequently maximize turn-key infrastructures
                  %a{:href => "blog-single.html"}
                  %p Your budget for unleashing should be at least twice...
                %li
                  %span.date
                    %span.month Nov
                    %span.day 28
                    %span.year 2012
                  %h3
                    %a{:href => "blog-single.html"} Split of a Second
                  %a{:href => "blog-single.html"}
                  %p Wingsuit World Champion Espen Fadnes and...
                %li
                  %span.date
                    %span.month Sep
                    %span.day 18
                    %span.year 2012
                  %h3
                    %a{:href => "blog-single.html"} Latte Art
                  %a{:href => "blog-single.html"}
                  %p
                    Creating art with latte coffee.
                    Lorem ipsum dolor sit amet...
                %li
                  %span.date
                    %span.month Mar
                    %span.day 3
                    %span.year 2012
                  %h3
                    %a{:href => "blog-single.html"} Lorem ipsum dolor sit amet
                  %a{:href => "blog-single.html"}
                  %p senectus et netus et malesuada fames ac turpis egestas...
            / close #tab-popular
            #tab-tags.tag-wrapper
              %a.tag{:href => "#"} business
              %a.tag{:href => "#"} fun
              %a.tag{:href => "#"} food
              %a.tag{:href => "#"} design
              %a.tag{:href => "#"} old
              %a.tag{:href => "#"} recent
              %a.tag{:href => "#"} junk
              %a.tag{:href => "#"} important
              %a.tag{:href => "#"} fonts
              %a.tag{:href => "#"} css3
              %a.tag{:href => "#"} php
              %a.tag{:href => "#"} seamless
              %a.tag{:href => "#"} complicated
            / close #tab-tags .tag-wrapper
          / close .panels (all of them)
        / close .sidebar-tabs
      / close .widget containing blog tabs
      %aside.widget.clearfix
        %h5.short_headline
          %span Sponsors
        %ul.sponsors
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "../demo/125banner-fpo.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "../demo/125banner-fpo.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "../demo/125banner-fpo.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "../demo/125banner-fpo.png"}/
      / close aside widget
      %aside.widget.clearfix
        %h5.short_headline
          %span Say Something
        %p
          %a{:href => "contact.html"}
            %img.aligncenter{:alt => "", :src => "../demo/fotogrph-running-water.jpg"}/
        %p
          Image by
          = succeed "." do
            %a{:href => "http://fotogrph.com/", :target => "blank", :title => "CC BY 3.0 | Fotogrph.com"} Fotogrph
          Think clicks-and-mortar. But don’t think all three at the same time. It seems unclear, but it’s entirely completely realistic! The infomediaries factor can be summed up in one word: killer. What do we integrate? Anything and everything, regardless of humbleness!
        %p.right
          %a.btn.btn-small.btn-very-subtle{:href => "#"} Learn More &rarr;
      %aside.widget
        .rotating-testimonials
          / "rotating-testimonials" is a required class
          %h5.short_headline
            %span Testimonials
          .panels
            #t1
              %blockquote
                %p One isn’t necessarily born with courage, but one is born with potential. Without courage, we cannot practice any other virtue with consistency. We can’t be kind, true, merciful, generous, or honest.
                %footer Maya Angelou
            / close #t1
            #t2
              %blockquote
                %p When the highest type of people hear Tao (Truth), they diligently practice it. When the average type of people hear Tao, they half believe in it. When the lowest type of people hear Tao, they laugh at it. If they did not laugh, it would not be Tao.
                %footer Lao-Tzu
            / close #t2
            #t3
              %blockquote
                %p The human being is part of the whole, called by us the ‘universe’, a part limited in time and space. He experiences himself, his thoughts and feelings, as something separate from the rest — a kind of optical delusion of consciousness. This delusion is a kind of prison for us, restricting us to our personal desires. Our task must be to free ourselves from this prison by widening our circle of compassion to embrace all living creatures and the whole of nature in its beauty.
                %footer Albert Einstein
            / close #t3
            #t4
              %blockquote
                %p Whatever course you decide upon, there is always someone to tell you that you are wrong. There are always difficulties arising which tempt you to believe that your critics are right. To map out a course of action and follow it to an end requires courage.
                %footer Ralph Waldo Emerson
            / close #t4
          / close panels
          %ul.tabs
            %li.tab
              %a{:href => "#t1"} maya-angelou
            %li.tab
              %a{:href => "#t2"} lao-tzu
            %li.tab
              %a{:href => "#t3"} albert-einstein
            %li.tab
              %a{:href => "#t4"} ralph-waldo-emerson
        / close rotating-testimonials
    / close section sidebar span3
  / close row-fluid
