- content_for :javascript_at_bottom do
  %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
  -#= javascript_include_tag 'geomap'
  :javascript
    google.load('visualization', '1', {'packages': ['geomap']});
    google.setOnLoadCallback(drawMap);

    function drawMap() {
      var jsonData = [['Countries', 'No Of Trips']];
      $.ajax({
        url:'/hitchhikers/flov/geomap.json',
        dataType:"json",
        async: true,
        success: function(data) { 
          $.each(data, function(key, val) {
            jsonData.push(val);
          });
          // Create our data table out of JSON data loaded from server.
          var data = new google.visualization.arrayToDataTable(jsonData);

          // Instantiate and draw our chart, passing in some options.
          var map = new google.visualization.GeoMap(document.getElementById('chart_div'));
          map.draw(data, null);
        }
      })

    }


#chart_div{:style => "width: 900px; height: 500px;"}
