- user = User.find 'platschi'

.row-fluid
  .span6
    = render 'users/traveling_with_chart', user: user
  .span6
    = render 'users/experiences_chart', user: user

.row-fluid
  .span12
    = render 'users/trips_by_age_chart', user: user
